.tabs-holder {
    background: #1D53A5;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link {
    background-color: transparent;
    border: none;
    color: white;
    border-right: 0.1px solid #F5FFFA;
    border-radius: 0;
}

.nav-tabs .nav-link i {
    margin-right: 10px;
}

.b-l-1 {
    border-left: 0.1px solid #F5FFFA !important;
}

.nav.nav-tabs {
    justify-content: center;
    border: none;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}